<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <button>Add new expense</button>
        </div>
        <div class="main">
            <div class="container">
                <div class="main-year">
                    <div class="main-year-left">Filter by year</div>
                    <div class="main-year-right">
                            <select>
                                <option value="1">1</option>
                                <option value="3">2</option>
                                <option value="3" selected>3</option>
                            </select>
                    </div>
                    
                </div>
    
                <div class="container-month">
                    <div class="item-month">
                        <div class="item-month-left">
                            <div class="item-month-left-in">
                                <div class="item-month-left-in-color"></div>
                            </div>
                        </div>
                        <div class="item-month-right">Jan</div>
                    </div>
    
                    <div class="item-month">
                        <div class="item-month-left">
                            <div class="item-month-left-in">
                                <div class="item-month-left-in-color"></div>
                            </div>
                        </div>
                        <div class="item-month-right">Jan</div>
                    </div>
    
                    <div class="item-month">
                        <div class="item-month-left">
                            <div class="item-month-left-in">
                                <div class="item-month-left-in-color"></div>
                            </div>
                        </div>
                        <div class="item-month-right">Jan</div>
                    </div>
    
                    <div class="item-month">
                        <div class="item-month-left">
                            <div class="item-month-left-in">
                                <div class="item-month-left-in-color"></div>
                            </div>
                        </div>
                        <div class="item-month-right">Jan</div>
                    </div>
    
                    <div class="item-month">
                        <div class="item-month-left">
                            <div class="item-month-left-in">
                                <div class="item-month-left-in-color"></div>
                            </div>
                        </div>
                        <div class="item-month-right">Jan</div>
                    </div>
    
                    <div class="item-month">
                        <div class="item-month-left">
                            <div class="item-month-left-in">
                                <div class="item-month-left-in-color"></div>
                            </div>
                        </div>
                        <div class="item-month-right">Jan</div>
                    </div>
    
                    <div class="item-month">
                        <div class="item-month-left">
                            <div class="item-month-left-in">
                                <div class="item-month-left-in-color"></div>
                            </div>
                        </div>
                        <div class="item-month-right">Jan</div>
                    </div>
    
                    <div class="item-month">
                        <div class="item-month-left">
                            <div class="item-month-left-in">
                                <div class="item-month-left-in-color"></div>
                            </div>
                        </div>
                        <div class="item-month-right">Jan</div>
                    </div>
    
                    <div class="item-month">
                        <div class="item-month-left">
                            <div class="item-month-left-in">
                                <div class="item-month-left-in-color"></div>
                            </div>
                        </div>
                        <div class="item-month-right">Jan</div>
                    </div>
    
                    <div class="item-month">
                        <div class="item-month-left">
                            <div class="item-month-left-in">
                                <div class="item-month-left-in-color"></div>
                            </div>
                        </div>
                        <div class="item-month-right">Jan</div>
                    </div>
    
                    <div class="item-month">
                        <div class="item-month-left">
                            <div class="item-month-left-in">
                                <div class="item-month-left-in-color"></div>
                            </div>
                        </div>
                        <div class="item-month-right">Jan</div>
                    </div>
    
                    <div class="item-month">
                        <div class="item-month-left">
                            <div class="item-month-left-in">
                                <div class="item-month-left-in-color"></div>
                            </div>
                        </div>
                        <div class="item-month-right">Jan</div>
                    </div>
                </div>
    
                <div class="container-detail-item">
                    <div class="detail-item-left">
                        <p>Januany</p>
                        <p>2022</p>
                        <h3>16</h3>
                    </div>
                    <div class="detail-item-center"> <h2>Some Book</h2></div>
                    <div class="detail-item-right"> $ 50</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>